:root {
   --background: #1A181A;
   --secondary-background: #1E1E1E;
   --secondary-text: #7F7F7F;
   --line-color: #6D6D6D;
   --border-radius: 3px;

}

body, html { 
   border: 0; 
   margin: 0; 
   padding: 0; 
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

#map { 
   height: 100vh; 
   width: 100vw; 
}

.slider {
   position: absolute;
   z-index: 5000;
   top: 0;
	margin: 15px;
	display: none;
}